{{define "content"}}
<div class="container column is-12">

  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          User Own Creation
        </p>
      </div>
      <div class="card-content">
        <div class="content">
            <article class="message is-danger">
              <div class="message-header">
                <p>Danger!</p>
              </div>
              <div class="message-body">
                There is no going back from this! Make sure you have the right user and machine for the user owns you want to create!
              </div>
            </article>
          <form id="userown-creation-form" method="POST">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input id="Username" name="Username" class="input" type="text" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <label class="label">Machine Name</label>
              <div class="control">
                <input id="MachineName" name="MachineName" class="input" type="text" placeholder="Machine Name">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Root Own Creation
        </p>
      </div>
      <div class="card-content">
        <div class="content">
            <article class="message is-danger">
              <div class="message-header">
                <p>Danger!</p>
              </div>
              <div class="message-body">
                There is no going back from this! Make sure you have the right user and machine for the root owns you want to create!
              </div>
            </article>
          <form id="rootown-creation-form" method="POST">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input id="Username" name="Username" class="input" type="text" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <label class="label">Machine Name</label>
              <div class="control">
                <input id="MachineName" name="MachineName" class="input" type="text" placeholder="Machine Name">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          User Own Deletion
        </p>
      </div>
      <div class="card-content">
        <div class="content">
            <article class="message is-danger">
              <div class="message-header">
                <p>Danger!</p>
              </div>
              <div class="message-body">
                There is no going back from this! Make sure you have the right user and machine for the user owns you want to delete!
              </div>
            </article>
          <form id="userown-deletion-form" method="POST">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input id="Username" name="Username" class="input" type="text" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <label class="label">Machine Name</label>
              <div class="control">
                <input id="MachineName" name="MachineName" class="input" type="text" placeholder="Machine Name">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Root Own Deletion
        </p>
      </div>
      <div class="card-content">
        <div class="content">
            <article class="message is-danger">
              <div class="message-header">
                <p>Danger!</p>
              </div>
              <div class="message-body">
                There is no going back from this! Make sure you have the right user and machine for the root owns you want to delete!
              </div>
            </article>
          <form id="rootown-deletion-form" method="POST">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input id="Username" name="Username" class="input" type="text" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <label class="label">Machine Name</label>
              <div class="control">
                <input id="MachineName" name="MachineName" class="input" type="text" placeholder="Machine Name">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{{end}}
