.section {
    padding-top: .5rem;
}

.is-sidebar-menu {
    padding: 2.5rem;
    background: #4a4a4a;
}

#prev,
#next {
    color: #4a4a4a;
}

.is-sidebar-menu li a {
    color: white;
}

.columns.is-fullheight {
    height: calc(100vh - ( 3.25rem - .75rem));
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 0px;
}

.columns.is-fullheight .column {
    overflow-y: auto;
}

.is-main-content {
    background: #dbdbdb;
    margin-top: 12px;
}

.column.is-2.is-sidebar-menu.is-hidden-mobile {
    width: 250px;
}

.navbar-hidden {
    display: none
}

.navbar-hidden.is-active {
    display: block
}

.button {
    border: none;
}

.button.is-active {
    border: none;
    box-shadow: none;
}

.button>.icon {
    padding-left: 10px;
}

.button.is-active>.icon {
    padding-left: 0px;
}

.fa-play,
.fa-stop,
.fa-sync,
.fa-flag {
    padding: 5px;
    font-size: 25px;
    background: #4a4a4a;

    transition: .2s;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #949ba2;
    border-radius: 3px;
    text-align: center;
}

.fa-play {
    color: hsl(141, 71%, 48%); }

.fa-stop {
    color: hsl(348, 100%, 61%); }

.fa-sync {
    color: hsl(48, 100%, 67%); }

.fa-flag {
    color: hsl(204, 86%, 53%); }
