{{ define "sidebar" }}
<div class="column is-2 is-sidebar-menu is-hidden-mobile">
    <aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="/scenario/introduction">Introduction</a></li>
        </ul>
        <p class="menu-label">
            Labs
        </p>
        <ul class="menu-list">
            <li>
                <a href="/scenario/machines">Machines</a>
                <ul>
                    <li><a>All</a></li>
                    <li><a>Unreleased</a></li>
                    <li><a>Owned</a></li>
                </ul>
            </li>
        </ul>
        <p class="menu-label">
            Information
        </p>
        <ul class="menu-list">
            <li><a>Rules</a></li>
        </ul>
    </aside>
</div>
{{ end }}
