{{define "content"}}
<div class="container column is-12">
  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Machines
        </p>
      </div>
    </div>
    <div class="modal flag-submission">
      <div class="modal-background"></div>
      <div class="modal-content" style="width: 480px">
        <div class="box">
          <form id="flag-form" method="POST">
            <div class="form-title">$MachineName</div>
            <label class="label">Flag</label>
            <div id="form-field" class="field is-grouped" style="align-items: center;">
              <p id="flag-input" class="control is-expanded has-icons-right">
                <input id="Flag" name="Flag" class="input" type="text" />
                <span class="icon is-small is-right">
                <i class="circle-loader"></i>
                <i id="correct" class="fas fa-check"></i>
                <i id="incorrect" class="fas fa-times"></i>
                </span>
              </p>
              <p id="flag-submit" class="control">
                <button type="submit" class="button is-dark">
                Submit
                </button>
              </p>
            </div>
            <p class="help">Input the the user or root flag hash.</p>
          </form>
        </div>
      </div>
    </div>
    <div id="machines" class="machine-container">
      {{ range $index, $value := .Machines }}
      <div class="card">
        <header class="card-header">
          <p class="card-header-title" data-val="name">
            {{ .Name }}
          </p>
          <div class="card-header-icon" style="cursor: default;">
            {{ if and (ne .Status "up") (ne .Status "down") }}
            <span class="icon">
              <img src="/static/images/loader.svg" class="machine-status-spinner"/>
            </span>
            {{ else }}
            <span class="icon">
              <img src="/static/images/loader.svg" class="machine-status-spinner machine-status-spinner-hidden"/>
            </span>
            {{ end }}
            <span class="icon">
              <i class="fas fa-circle machine-status-{{ .Status }}"></i>
            </span>
          </div>
        </header>
        <div class="machine-card-content">
          <div class="content">
            <div class="main-info">
              <div class="machine-type">
                <i class="fab fa-{{ .Type }}"></i>
              </div>
              <div class="machine-difficulty" data-val="difficulty">
                {{ .Difficulty }}
              </div>
              <div class="machine-address" data-val="ip">
                {{ .IpAddress }}
              </div>
            </div>
            <div class="own-container">
              <div class="own-buffer"></div>
              <div class="machine-user-owns" data-val="userowns">{{ .UserOwns }}</div>
              <div class="machine-root-owns" data-val="rootowns">{{ .RootOwns }}</div>
              <div class="own-buffer"></div>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" data-val="start" data-name="{{ .Name }}">Start</a>
          <a class="card-footer-item" data-val="stop" data-name="{{ .Name }}">Stop</a>
          <a class="card-footer-item" data-val="revert" data-name="{{ .Name }}">Revert</a>
          <a class="card-footer-item" data-val="submit-flag" onclick="flagModal({{ .Name }})">Flags</a>
        </footer>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
