{{define "content"}}
<div class="container column is-12">
  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Introduction
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          <h2>Welcome!</h2>
          <p>Welcome to the Cyber Range! This will serve as a place to practice your offensive (red team) skills. The range contains a variety of machines that you can hack into. There are machines for everyone from easy to insane and both Linux and Windows!</p>
          <p>Below are a few places on the range that you should check out:
            <ol>
              <li><a href="/scoreboard">The Scoreboard</a> - An up-to-date ranking of everyone who has logged into the Cyber Range!</li>
              <li><a href="/me">Your Profile</a> - This will be updated with a timeline of your "owns" as you progress!</li>
              <li><a href="/machines">The Machines</a> - A list of machines you can try and hack!</li>
            </ol>
          </p>
          <h2>Machine Introduction</h2>
          <p>
            On the <a href="/machines">machines page</a>, you will see every machine that is currently deployed on the Cyber Range.
        <p>At the top of the card you will see two things: the bold text indicating the machine's name and a colored circle indicating the machine's status.
        </p>
        <p>Inside the card from top to bottom you will see an icon (either Tux the Linux penguin or the Windows logo) denoting the type of machine, the machine's IP address if it is currently active, and the number of user (<strong>$</strong>) and root (<strong>#</strong>) owns.
        </p>
            <p>At the bottom of the card you will see four buttons, "Start", "Stop", "Revert", and "Flags".
            <ol>
                <li>Start, stop, and revert all perform actions on the machine according to their name. Reverting a machine resets it to its initial state - this is useful if someone deletes a flag or makes the machine unusable.</li>
                <li>The "Flags" button is for submitting the user and root flags of the machine - these will typically be found at <code>/home/username/user.txt</code> and <code>/root/root.txt</code> for Linux machines and <code>C:\Users\Username\Desktop\user.txt</code> and <code>C:\Users\Administrator\Desktop\root.txt</code> for Windows machines.</li>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
