{{define "interactive"}}
<div class="modal correct">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="message is-success">
            <div class="message-header">
                Correct Flag
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                The flag you have entered is correct!
            </div>
        </article>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="modal incorrect">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="message is-danger">
            <div class="message-header">
                Incorrect Flag
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                The flag you have entered is incorrect.
            </div>
        </article>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<form>
    <div id="form-field" class="field is-grouped" style="align-items: center;">
        <p class="control">
            <a id="prev" href="/training/introduction"><i class="fas fa-arrow-left"></i></a>
        </p>
        <p class="control">
            <a id="next" href="/training/introduction"><i class="fas fa-arrow-right"></i></a>
        </p>
        <p id="flag-input" class="control is-expanded">
            <input id="flag" name="flag" class="input" type="text" placeholder="Flag">
        </p>
        <p id="flag-submit" class="control">
            <button type="submit" class="button is-dark">
                Submit
            </button>
        </p>
    </div>
</form>

<script>
    var path = window.location.pathname;
    var prevLink = nextLink = "/training/introduction";

    var linkObjs = $('#sidebar').find('a');
    var links = linkObjs.map(function() {
        return $(this).attr("href")
    });

    $("#check-flag").attr("action", path);

    for (i = 0; i < links.length; i++) {
        if (links[i] == path) {
            if (i - 1 > 0) {
                prevLink = links[i - 1];
            }
            if (i + 1 < links.length) {
                nextLink = links[i + 1];
            }
            $('#prev').attr("href", prevLink);
            $('#next').attr("href", nextLink);
        }
    }

    window.addEventListener("load", function() {
        /*
            If no-submission is found, remove the submission
            items and center the bottom navigation arrows.
        */
        if (document.querySelector("#no-submission")){
            ['#flag-input', '#flag-submit'].forEach(function(item, index){
                var elem = document.querySelector(item);
                elem.parentNode.removeChild(elem);
            });

            var elem = document.querySelector("#form-field")
            elem.setAttribute("style", "justify-content: center;");
        }
    });
</script>
{{end}}
