{{ define "sidebar" }}
<style>
    aside ul li ul {
        display: none;
    }
    
    aside ul li .parent {
        float: right;
    }
</style>
<div class="column is-2 is-sidebar-menu is-hidden-mobile">
    <aside id="sidebar" class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="/training/introduction">Introduction</a></li>
        </ul>
        <p class="menu-label">
            Labs
        </p>
        <ul class="menu-list">
            <li>
                <a>Linux <i class="fas fa-sort-down parent"></i></a>
                <ul>
                    <li><a href="/training/terminal">Linux Terminal</a></li>
                    <li><a href="/training/ls">ls</a></li>
                    <li><a href="/training/cd">cd</a></li>
                    <li><a href="/training/pwd">pwd</a></li>
                    <li><a href="/training/hierarchy">Linux Filesystem Hierarchy</a></li>
                    <li><a href="/training/mkdir">mkdir</a></li>
                    <li><a href="/training/cat">cat</a></li>
                    <li><a href="/training/man">man</a></li>
                    <li><a href="/training/users">Users</a></li>
                    <li><a href="/training/whoami">whoami</a></li>
                    <li><a href="/training/su">su</a></li>
                    <li><a href="/training/chown">chown</a></li>
                    <li><a href="/training/sudo">sudo</a></li>
                    <li><a href="/training/exec-files">Executable Files</a></li>
                    <li><a href="/training/base64">base64</a></li>
                    <li><a href="/training/pipe">Pipe</a></li>
                    <li><a href="/training/echo">echo</a></li>
                    <li><a href="/training/grep">grep</a></li>
                    <li><a href="/training/zip">zip</a></li>
                    <li><a href="/training/tar">tar</a></li>
                </ul>
            </li>
        </ul>
        <p class="menu-label">
            Information
        </p>
        <ul class="menu-list">
            <li><a>Rules</a></li>
        </ul>
    </aside>
</div>
<script>
    /* Expand the sidebar menu */
    $('.menu li').on('click', 'a', function(e) {
        if ($(this).parent().children('ul').length) {
            e.preventDefault();
            $(this).addClass('active');
            $(this).parent().children('ul').slideDown();
            setTimeout(function() {
                $.fn.matchHeight._update();
                $.fn.matchHeight._maintainScroll = true;
            }, 500);
        }
    });

    /* Close the expanded menu */
    $('.menu li').on('click', 'a.active', function(e) {
        if ($(this).parent().children('ul').length) {
            e.preventDefault();
            $(this).removeClass('active');
            $(this).parent().children('ul').slideUp();
            setTimeout(function() {
                $.fn.matchHeight._update();
                $.fn.matchHeight._maintainScroll = true;
            }, 500);
        }
    });
</script>
{{ end }}
