{{define "title"}}Base64{{end}}
{{define "body"}}
<h3><a href="https://en.wikipedia.org/wiki/Base64">Base64</a></h3>

<p>Base64 is an encoding scheme that transforms data into a unique and random ASCII string format. It becomes super obvious as you get more familiar with what it looks like, but if you see many random characters, numbers, and sometimes equal signs, you are probably dealing with base64. Luckily, base64 is just an encoding scheme, so it can be easily decoded. There is an entire command within Linux that allows you to both encode and decode files, strings, etc. The base64 command takes in input from the standard input, which is a bit different from what you have been taught.</p>

{{end}}
