{{define "title"}}cat{{end}}
{{define "body"}}
<h3><a href="http://interserver.net/tips/kb/linux-cat-command-usage-examples/">cat</a></h3>

<p> The cat command (short for “concatenate”) is another frequently used command on Linux. The command is used to concatenate files and print them on to standard output, or the screen. The syntax is:
<br /><br />
<code>cat fileName</code>
</p>

<p>This command is useful for reading files, so try reading the flag_five file in the starting directory.</p>T

{{end}}
