{{define "title"}}cd{{end}}
{{define "body"}}
<h3><a href="https://www.tecmint.com/cd-command-in-linux/">cd</a></h3>

<p>cd or the "change directory" command is another one of the most commonly used commands while using a terminal. This command does exactly what it says it does, it changes the directory that you are in to one that you specify after. To specify which directory you would like to change to, you include it as an argument, like this:
<br /><br />
<code>cd directoryYouWantToGoTo</code>
<br />
</p>

<p>In your previous <code>ls</code> command, you should have seen the directory <em>dir_one</em>, try changing into that directory and seeing if you can find the flag.</p>

<p>To go back one directory, you can use <code>..</code> as an argument to cd. Try that out on your terminal to get back to the directory you started with.

<p>After going back to the starting directory, run the ls command again. You should see the "dir two" directory. This directory has spaces in its name, so changing into that directory is not as simple as cd dir two because the terminal will interpret that as two different directories. Instead, you will have to use the \ character to "escape" the space. This basically means that the shell will interpret the space as part of the name and not a new argument. Try changing directories to "dir two" now. You escape characters by putting this \ before the character you want to escape.</p>
{{end}}
