{{define "title"}}chmod{{end}}
{{define "body"}}
<h3><a href="https://www.computerhope.com/unix/uchmod.htm">chmod</a></h3>

<p>We can change the permissions of the file with the chmod command, or "change mode" command. This allows us to change the file mode bits of a given file to whatever we would like, if we have the ability to. We cannot go around changing permissions of files that are not owned by us, because that would mean we could read and modify everyone’s files on the machine. If you wanted to add the read permission for every field, you could do:
<br />
<br />
<code>chmod +r fileName</code>
</p>
{{end}}
