{{define "title"}}echo{{end}}
{{define "body"}}
<h3>echo</h3>

<p>The echo command does exactly what it sounds like. If you send a string as the argument for echo, it will output that string back out to standard output or your screen. This is incredibly convenient for our base64 situation because we can use it to encode or decode strings. For example, if we wanted to base64 encode the string "Hello World!1!!1!", we would use:
<br />
<br />
<code>echo "Hello World!1!!1!" | base64</code>
</p>

<p>Try using this same concept of pipes and base64 to find the flag in the file flag_thirteen.</p>
{{end}}
