{{define "title"}}Executable Files{{end}}
{{define "body"}}
<h3>Executable Files</h3>

<p>We have been discussing executable files previously, but now we are going to go more in depth. An executable file can be anything really, as we have discussed earlier, it just depends on the executable bit within the permissions. But those aren’t really executable files. Usually an executable runs some sort of code. Try running this command:
<br />
<br />
<code>file /bin/ls</code>
</p>

<p>File is another useful command that tells you what it thinks the file is based on its contents. In our case, you will see that our ls command that we have been using is actually an executable. You can run executables in your current working directory with a ./ directly preceding the executable file name. You can run other executables not within your current directory by specifying a relative or full path. Try running the flag_ten executable and getting the flag.</p>

<p>Try running the flag_twelve executable file now. Uh oh, this program looks as though it is never going to end. Luckily, the operating system comes with these wonderful signals, which can interrupt the process and get you back to a shell. The most common signal that you will use will be the SIGINT or program interrupt which you can send by pressing Control + C. If a command is ever not returning you to your shell, or you want to quit something quickly, these two keystrokes will do just that most of the time. If that doesn’t work, just try spamming random Control + characters and it will eventually work :)</p>
{{end}}
