{{define "title"}}grep{{end}}
{{define "body"}}
<h3><a href="https://www.computerhope.com/unix/ugrep.htm">grep</a></h3>

<p>Grep is a super useful command that will come in handy if you ever want to search a file or multiple files for something. The grep command will return whatever it found the search phrase or nothing if the search came up empty. The grep syntax goes as follows:
<br />
<br />
<code>grep "phrase you want" fileName</code>
</p>

<p>Use this grep command to find the flag within the flag_fourteen file.</p>
{{end}}
