{{define "title"}}Linux Filesystem Hierarchy{{end}}
{{define "body"}}
<h3>Linux Filesystem Hierarchy</h3>

<p>The starting directory of all Linux machines is the /, or the root directory.This directory contains all the underlying files and directories for the machine. There are some common Linux directories that usually always exist, but depending on the distribution of Linux, they might not.</p>

<p>Here is a diagram of all the standard Linux file system layout.</p>

<img src="/static/images/hierarchy.png" />

<p>Some of the important directories include:</p>

<p>
    <ul>
        <li>bin: common programs shared by the system</li>
        <li>boot: startup files and the kernel(the actual code of the operating system)</li>
        <li>etc: contains important system configuration files</li>
        <li>home: home directories for users</li>
        <li>lib: library files, needed for all kinds of programs</li>
        <li>opt: contains extra or third-party software</li>
        <li>tmp: temporary space for use of the system, cleaned up on reboot of the system</li>
        <li>usr: programs, libraries, documentation for all user-related programs</li>
        <li>var: storage for all variable files and temporary files created by users</li>
    </ul>
</p>
{{end}}
