{{define "title"}}Linux Basics 2{{end}}
{{define "body"}}
<h2>Using the Terminal</h2>
<p>Welcome to your terminal. A terminal is simply an interface where you can type and execute text based commands. Looking at your terminal right now, you will see a prompt and your cursor. The prompt is where you will be typing your commands. We will start by learning about some basic commands you can execute.</p>
<h3>ls</h3>
<p>The first command you will learn about is the <code>ls</code> command. This command lists directory contents. You can think of a directory like a folder where files are stored.</p>
{{end}}
