{{define "title"}}ls with flags and permissions{{end}}
{{define "body"}}
<h3>ls with flags and permissions</h3>

<p> This is the same command that you saw before: ls, but this time, it has a flag of -a. Use the man pages to see what the -a does and then use it to find the sixth flag in the starting directory. Remember, using flags is as simple as including it after the command seperated with a space.</p>

<p>Do the same for the -l flag for ls. Use this to look at the files and directories in the starting directory and find the seventh flag.</p>

<h3>Permissions</h3>

<p>The output of the command may look confusing at first, but we will go through it and explain what it means. On the left side of the output, you will see many dashes, r's, w's, and maybe some x's. These are known as permissions. These permissions specify which people or groups can access the file and how they are able to access the file.</p>

<p>The first character simply tells you what the type is, - for file, d for directory, and l for link. The next 9 characters are the actual permissions. These permissions are set up in groups of 3. The first group of 3 characters represent the permission the owner has over the file. The next group of 3 characters represent the permission the group has over the file, and the fourth represents what everyone else's permissions are. I just brought up many concepts that you haven't learned yet, so let me break it down even easier.</p>

<p>These 3 characters represent the read, write, and execute bit, respectively. This means that if the bit is set, then the permission is enabled. The read bit simply means that file is able to be read, the write bit allows the file to be written to, and the execute bit means that the file can be run like a command. If there is a dash, that means the permission is not set. For instance, if we had:
<br />
<br />
<code>-rwxrw--r--</code>
<br />
<ol>
    <li>We know that we are dealing with a file. (the first -)</li>
    <li>The owner has permission to read, write, and execute the file. (rwx)</li>
    <li>The group has permission to read and write the file (rw-)</li>
    <li>Everyone else can only read the file (r--)</li>
</ol>
The number after these r's, w's, and x's specifies the number of links or directories inside this directory.
<br />
<br />
The next two fields tell you who owns the file and which group the file belongs to, respectively. This basically tells us who gets the first set of permissions (owner) and who gets the second set of permissions (group).
<br />
<br />
The next field is the size of the file in bytes.
<br />
<br />
The second to last field is the date that the file was last modified, and this is useful because we can know when files have been changed or created.
<br />
<br />
The last field is just the name of the file.
</p>

{{end}}
