{{define "title"}}ls{{end}}
{{define "body"}}
<h3><a href="http://linuxcommand.org/lc3_man_pages/ls1.html">ls</a></h3>

<p>ls or the "list" command is one of the simplest but most commonly used commands while using the Linux terminal. This command simply lists the files and directories within the current directory.Think of directories as folders that you can put files into, for instance, if you have a folder on your Desktop of your personal computer, that folder is a directory within the Desktop directory. There are some specific directories that come with Linux that we will talk more about later on.</p>

<p>Try running the ls command in your terminal.</p>

<p>Flag format: flag{}</p>
{{end}}
