{{define "title"}}man{{end}}
{{define "body"}}
<h3>man</h3>

<p> The man command brings up the man pages, or manual pages, for a specific command. This is extremely useful for finding proper syntax, which flags to use, and how to use the command in general. The man pages are basically documentation for a command and provide a description for what each flag or argument does. If you don’t know how to use a command or want to learn more about one, just use <code>man nameOfCommand</code>. Inside of the man pages, you can search by pressing the / key and then whatever you are searching for. The default syntax is:
 
<br /><br />
<code>man commandName</code>
</p>


{{end}}
