{{define "title"}}mkdir{{end}}
{{define "body"}}
<h3>mkdir</h3>

<p>This is a command that you may use called mkdir, which stands for "make directory", and is used for exactly that. It takes an argument of the path that you would like to make the directory in. For example, to make a directory in your current working directory, you would use:
<br /><br />
<code>mkdir nameOfDirectory</code>
<br /><br />
Or, to make a directory in some place other than your current working directory you would use:
<br /><br />
<code>mkdir /path/to/directory/nameOfDirectory</code>
</p>

<p>Try creating a directory in your current working directory called flag_four. The flag for this section will be the path of flag_four directory.</p>

{{end}}
