{{define "title"}}pwd{{end}}
{{define "body"}}
<h3>pwd</h3>

<p>This command stands for "print working directory", which basically means that it will print the path to the directory that you are currently in. What is the path though?</p>

<p>The path is like a trail of which directories you have to go to to get to your current working directory. When using commands, your terminal will look for in your path when you pass in files or directories for arguments. For example, you can't just do cd <em>dir_one</em> from any directory, you can only do it if <em>dir_one</em> is in your current working directory. If you wanted to change into <em>dir_one</em> from a different directory, you would have to specify a full path to <em>dir_one</em> or a relative path to <em>dir_one</em>.</p>
{{end}}
