{{define "title"}}su{{end}}
{{define "body"}}
<h3><a href="https://www.tecmint.com/difference-between-su-and-su-commands-in-linux/">su</a></h3>

<p>This su command, which stands for "substitute user" allows you to change which user you are. This means that you can run commands and access files with the privileges of another user. To specify a user that you would like to change to, you use the <code>-l</code> flag and then the username you would like to change to. Try switching to switch to the "two" user and find the flag in their home directory.</p>

{{end}}
