{{define "title"}}sudo{{end}}
{{define "body"}}
<h3>sudo</h3>

<p>Sudo is another super common command when using the Linux operating system. This command stood for "superuser do" which basically means it would run the command as the root user, but sudo can also be used for running commands as another user. Some commands need root privileges to run, so sudo solves that problem by allowing you to run one command while remaining in the lower privileged user shell. Try to list the files in the /root/ directory without sudo. You will see that you do not have permission to access the files. Now try it with the sudo command and find the flag. The syntax is:
<br />
<br />
<code>sudo command argument1</code>
</p>
{{end}}
