{{define "title"}}Getting Started{{end}}
{{define "body"}}
<h3>Terminal</h3>

<p>What you are currently looking at is called a terminal. A terminal can be called a variety of things: shell, text terminal, or command line. Whatever you would like to call it, it is simply a way for you to execute commands and see the outputs of those commands. You may find that the shell is archiach and “backwards” compared to the typical GUI environment that you are most likely more experienced with. After this introduction to Linux, you will learn how the shell will be the most powerful tool to have in your arsenal for hacking.</p>

<h3>How to Use the Terminal</h3>
 
<p>When using the terminal, there's a certain way to put in these commands. The format usually goes as follows:<p>

<code>$ command argument1 argument2 argument3</code>

<p>You begin with the actual command that you would like to run, and then to pass in arguments to that command, you seperate them out with spaces. There are also specific types of arguments called flags, which usually start with a dash. Some commands have different syntax, but this is the usual syntax that most Linux command line tools will use.</p>

<p>After you type in the command you would like to run, you will need to press the enter key to actually execute that command.</p>

<div id="no-submission" />
{{end}}
