{{define "title"}}Users{{end}}
{{define "body"}}
<h3>Users</h3>

<p>Linux systems can have multiple users, so that different people can access the system and have their own files and programs. Usually in these HackTheBox style challenges, you start off as a lower privileged user that doesn’t have access to some files and try to basically upgrade yourself to "root". Root is a user on Linux systems that has access to all files, all commands, basically anything you want, you can do as root. As root you can potentially damage the system because there is literally no control over what you can and cannot do. Usually the root user is not used as a real user, instead people use the sudo command, which we will talk about in a bit.</p>

{{end}}
