{{define "title"}}zip{{end}}
{{define "body"}}
<h3><a href="https://en.wikipedia.org/wiki/Zip_(file_format)">zip</a></h3>

<p>Zip is a very common archive file format that allows us to compress files and directories. You may have interacted with zip's before, and you should know that you can expand the zip to see all the files or directories inside. Usually you would just double click the zip file to "unzip" it, but with the command line interface, we cannot do that. Luckily we have the unzip command that allows us to unzip a zip file and see the contents inside. What unzipping will do is basically "inflate" meaning that the files will grow back to their original size and state. Zips are super useful when transporting data, because the zipping files makes them smaller and allows files to be grouped together easily. Use the unzip command to find the flag in the file flag_fifteen.zip.</p>

{{end}}
