{{define "sidebar"}}
<div class="column is-2 is-sidebar-menu is-hidden-touch">
  <aside class="menu">
    {{ if .User.IsAdmin }}
    <p class="menu-label">
      Admin
    </p>
    <ul class="menu-list">
      <li>
        <a>Admin Panel <i class="fas fa-sort-down parent"></i></a>
        <ul>
          <li><a href="/admin/create">Machine Creation</a></li>
          <li><a href="/admin/delete">Machine Deletion</a></li>
          <li><a href="/admin/owns">Own Management</a></li>
        </ul>
      </li>
    </ul>
    {{ end }}
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a href="/home">Introduction</a></li>
    </ul>
    <p class="menu-label">
      Rankings
    </p>
    <ul class="menu-list">
      <li><a href="/scoreboard">Scoreboard</a></li>
    </ul>
    <p class="menu-label">
      Labs
    </p>
    <ul class="menu-list">
      <li>
        <a>Machines <i class="fas fa-sort-down parent"></i></a>
        <ul>
          <li><a href="/machines">All</a></li>
          <li><a class="disabled">Unreleased</a></li>
          <li><a class="disabled">Owned</a></li>
        </ul>
      </li>
    </ul>
    <p class="menu-label">
      Information
    </p>
    <ul class="menu-list">
      <li><a class="disabled">Rules</a></li>
    </ul>
  </aside>
</div>
{{ end }}
