{{define "content"}}
<div class="container column is-12">
  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Admin Panel
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dui ligula, eleifend non mi quis, pharetra faucibus nulla. Aenean vel diam eget augue consequat interdum. Suspendisse cursus condimentum congue. Vivamus id ipsum quis risus convallis aliquam. Cras aliquet ipsum est, id consectetur libero sodales sit amet. Sed vitae massa quis tellus elementum viverra. Nulla metus ipsum, venenatis a pharetra cursus, rutrum in diam. Vestibulum eget turpis eget nisi varius molestie. Sed vel diam sed felis viverra faucibus id sed neque. Ut sit amet ex id nisi vulputate ultricies tempor vel tellus. Suspendisse ullamcorper, ex ut molestie eleifend, mi sem feugiat justo, vel viverra massa orci eget dolor.</p>
          <p>Nulla at metus ligula. Pellentesque ultrices orci a enim aliquet ultricies. Nam aliquet dui sit amet orci gravida consequat a non tellus. Praesent interdum feugiat convallis. Pellentesque congue, augue eget consequat venenatis, tortor lacus pulvinar eros, vitae luctus nunc nunc at leo. Integer malesuada purus sem, sed commodo mi feugiat quis. Duis rutrum velit nec semper maximus. Donec convallis eros vitae blandit ornare. Sed dignissim, ipsum scelerisque tincidunt facilisis, lacus ex dapibus lacus, ultrices tempus enim turpis eu ipsum. Sed at lorem eu ligula sollicitudin varius. Integer porttitor placerat condimentum.</p>
          <p>Nam eu vulputate lorem, vitae imperdiet nunc. Aenean blandit pellentesque velit, at placerat risus tristique id. Sed non sagittis felis. Ut vestibulum, ante consequat iaculis mattis, tortor tellus pharetra quam, id molestie tellus dui non justo. Morbi accumsan metus in erat suscipit, at malesuada risus consectetur. Curabitur faucibus commodo dolor non mattis. Proin facilisis arcu ac nunc laoreet sollicitudin. Sed ultricies pellentesque velit, in viverra leo sagittis nec. Duis sed est turpis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
