.section {
  padding-top: .5rem;
}

.is-sidebar-menu {
  padding: 2.5rem;
  background: #4a4a4a;
}

.mobile-sidebar {
  width: 100vw !important;
}

.is-hidden-content {
  display: none;
}

.disabled {
  color: gray !important;
  text-decoration: line-through;
}

#prev,
#next {
  color: #4a4a4a;
}

.navbar-item,
.navbar-link {
  padding: 0px;
}

.navbar-brand {
  padding-left: 1rem;
}

.is-sidebar-menu li a {
  color: white;
}

.columns.is-fullheight {
  height: calc(100vh - (3.25rem - .75rem));
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 0px;
}

.columns.is-fullheight .column {
  overflow-y: auto;
}

.is-main-content {
  background: #dbdbdb;
  margin-top: 12px;
}

.column.is-2.is-sidebar-menu.is-hidden-mobile {
  width: 250px;
}

.navbar-hidden {
  display: none
}

.navbar-hidden.is-active {
  display: block
}

.button {
  border: none;
}

.button.is-active {
  border: none;
  box-shadow: none;
}

.button>.icon {
  padding-left: 10px;
}

.button.is-active>.icon {
  padding-left: 0px;
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

.modal-status {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.form-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

.form-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2rem;
}

.fa-play,
.fa-stop,
.fa-sync,
.fa-flag {
  padding: 5px;
  font-size: 25px;
  background: #4a4a4a;
  transition: .2s;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #949ba2;
  border-radius: 3px;
  text-align: center;
}

.fa-play {
  color: hsl(141, 71%, 48%);
}

.fa-stop {
  color: hsl(348, 100%, 61%);
}

.fa-sync {
  color: hsl(48, 100%, 67%);
}

.fa-flag {
  color: hsl(204, 86%, 53%);
}

aside ul li ul {
  display: none;
}

aside ul li .parent {
  float: right;
}

table {
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

.table th:not([align]),
.table td:not([align]),
.content table th:not([align]),
.content table td:not([align]) {
  text-align: center;
}

.modal-content {
  padding: 2rem;
  margin: -25vh auto 0 auto;
}

.circle-loader {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: none;
}

.circle-loader.is-active {
  display: block;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#correct,
#incorrect {
  display: none;
}

#correct.is-active {
  color: #76d275;
  display: block;
}

#incorrect.is-active {
  color: #f44336;
  display: block;
}

#notification {
  visibility: visible;
  position: absolute;
  max-width: 20rem;
  z-index: 1;
  top: 4rem;
  right: .5rem;
}

#notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    right: 0rem;
    opacity: 0;
  }
  to {
    right: .5rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0rem;
    opacity: 0;
  }
  to {
    right: .5rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: .5rem;
    opacity: 1;
  }
  to {
    right: 0rem;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: .5rem;
    opacity: 1;
  }
  to {
    right: 0rem;
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table>*,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  .table td {
    padding-top: 30px;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table.profile tbody tr td {
    padding-top: 1.5rem;
  }
  table.profile tbody tr td:before,
  table.machines tbody tr td:before,
  table.scoreboard tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  .table th:not([align]),
  .table td:not([align]),
  .content table th:not([align]),
  .content table td:not([align]) {
    text-align: left;
  }
  table.machines tbody tr td:nth-child(1):before {
    content: "Name";
  }
  table.machines tbody tr td:nth-child(2):before {
    content: "Address";
  }
  table.machines tbody tr td:nth-child(3):before {
    content: "Difficulty";
  }
  table.machines tbody tr td:nth-child(4):before {
    content: "User Owns";
  }
  table.machines tbody tr td:nth-child(5):before {
    content: "Root Owns";
  }
  table.machines tbody tr td:nth-child(6):before {
    content: "Actions";
  }
  table.scoreboard tbody tr td:nth-child(1):before {
    content: "Rank";
  }
  table.scoreboard tbody tr td:nth-child(2):before {
    content: "Username";
  }
  table.scoreboard tbody tr td:nth-child(3):before {
    content: "Points";
  }
  table.scoreboard tbody tr td:nth-child(4):before {
    content: "User Owns";
  }
  table.scoreboard tbody tr td:nth-child(5):before {
    content: "Root Owns";
  }
  table.profile tbody tr td:nth-child(1):before {
    content: "Rank";
  }
  table.profile tbody tr td:nth-child(2):before {
    content: "Points";
  }
  table.profile tbody tr td:nth-child(3):before {
    content: "User Owns";
  }
  table.profile tbody tr td:nth-child(4):before {
    content: "Root Owns";
  }
}


