{{define "content"}}
<div class="container column is-12">
  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          {{ .Profile.Username }}'s Profile
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column">
              <table class="profile table order-table is-striped is-hoverable table-container" style="overflow-x: auto;">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Points</th>
                    <th>User Owns</th>
                    <th>Root Owns</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ rank .Profile }}</td>
                    <td>{{ .Profile.Points }}</td>
                    <td>{{ .Profile.UserOwns }}</td>
                    <td>{{ .Profile.RootOwns }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column">
              <div class="timeline">
                {{ range $index, $value := .OwnsTimeline }}
                <div class="timeline-item">
                  <div class="timeline-marker is-icon">
                    <i class="fa fa-{{ icon .Type }}"></i>
                  </div>
                  <div class="timeline-content">
                    <p class="heading">{{ .SolvedAt }}</p>
                    <p>
                      {{ $.Profile.Username }} owned {{ .Type }} on {{ .Name }}
                    </p>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
